page-add-depense {


.add-div
{
  width:95% !important;
  max-width: 550px !important;  //any size
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; /* the height of the centered content */
  
  text-align: center;
  display: block;
  background-color: white;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}



.add-button
{
  //background-color: #F3FAB6;
  margin-top:10px;
  margin-bottom: 10px;
}


}
